<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  IgnorableNamespaces="uap rescap mp">

  <Identity
    Name="2505FireCubeStudios.Clippy11"
    Publisher="CN=3C7C8FC9-7104-4B33-8730-EE1E929D5D3B"
    Version="1.1.10.0" />

  <Properties>
    <DisplayName>Paperclip by FireCube</DisplayName>
    <PublisherDisplayName>FireCubeStudios</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <Extensions>
        <uap5:Extension Category="windows.startupTask">
          <uap5:StartupTask
            TaskId="ClippyStartupTaskId"
            DisplayName="Clippy"
            Enabled="true"/>
        </uap5:Extension>
      </Extensions>
      <uap:VisualElements
        DisplayName="Paperclip by FireCube"
        Description="Clippy"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

  <mp:PhoneIdentity PhoneProductId="6ade929b-55cf-457a-93a9-88db7ef72596" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
</Package>
